

<section class= "aboutus">
<h1>About Us</h1>

<div class = 'container' style = 'padding-top:30px'>
	<div class = 'row'>
		<div class = 'col-lg-12 about' style = 'color:black'>
			US1 Travel can be designated as a “Travel Management Company “licensed by ARC & IATA for more than 25 years.  The Company was founded in December of 1987.In 1999 US1 TRAVEL put the Sabre GDS online over the internet.. By 2001 we had nearly 90 Agents hosted  under our license nationwide.In 2006 we licensed with Sabre to resell their online Corporate Booking engine called “Get There”. This tool would allow us to expand in the corporate marketplace and allow us to be competitive in the market place.
			<br><br>
			As of June 2014, US1 Travel has more than 150 Agents selling nearly 30million annually. We are creating and utilizing mobile apps for the smart phone and showing innovation in all areas of Corporate Travel. In January we joined “The Virtuoso Network” which puts us in the top 1% of the industry. Virtuoso is an invitation only Luxury Consortium that has amenity programs exclusively for its members. US1 Travel continues to innovate with a rapidly changing Industry, and can be an Asset to both an independent contractor as well as Companies needing cost effective solutions in booking travel.

		</div>
	</div>

<hr class="featurette-divider">

	<div class = 'row'>
		<div class = 'col-lg-12 about' style = 'color:black'>
		</div>
	</div>
</div>

	<p class = "p1">

                   </p>


</section>