<section >
<h1> </h1>

<div class = 'container' style = 'padding-top:30px'>
	<div class = '' >	
	</div>
	<div class = 'col-lg-offset-1 col-lg-5' >	
		<div class = 'contactcontain'>	
			<div class = 'contactbox'>
			   <strong>US1 Travel</strong> <br>
			   1821 Wilshire Blvd. #212 <br>
			   Santa Monica, CA 90403 <br> <br>
			   
			   Phone 310-582-0099<br>
			   Fax 310-582-0011<br>
			   M-F 9am-5:30pm
			</div>
		</div>
	</div>
	<div class = 'col-lg-6'>

		<%= render'/shared/contact_form' %>
	</div>
</div>


</section>