<h1>Contact</h1>
<p style = 'text-align:center'>

   1821 Wilshire Blvd. #212, Santa Monica, CA 90403 <br> 
   Business Hours: 9am - 5:30pm (PT) <br> <br>
   Phone: (310) 582 0099 <br>
   Fax: (310) 582 0011 <br>
   sales@us1travel.com</p>
