<section class = 'contact'>
<h1>Contact</h1>

<div class = 'container' style = 'padding-top:30px'>
	<div class = 'col-lg-6' >		
	<p style = 'text-align:left'>
   <strong>US1 Travel</strong> <br>
   1821 Wilshire Blvd. #212 <br>
   Santa Monica, CA 90403 <br> <br>
   
   Sales 855 582 2411<br>
   Office 310 582 0011 <br>
   M-F 9am-5:30pm
	</p>
	</div>
	<div class = 'col-lg-6'>

		<%= render'/shared/contact_form' %>
	</div>
</div>


</section>