<%= stylesheet_link_tag "grayscale", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 introduction">
                    <h1 class="brand-heading">US1 Travel</h1>
                    <p class="intro-text">travel travel travel travel travel travel travel travel travel.</p>
                </div>
            </div>
        </div>
    </div>
</section>


    
