

<section class="">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 introduction">
                    <h1 class="brand-heading" style = 'margin-top:15%; font-size:150px'>US1 Travel</h1>
                    <p class="intro-text "></p>
                </div>
            </div>
        </div>
    </div>
</section>


    
<%= link_to "Create Agent", signup_path, class: "btn btn-large btn-primary signoutbutton"%>