<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon added -->
    <link rel="shortcut icon" href="img/logoalter.png"/>

    <title>US1Travel</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <%= stylesheet_link_tag "grayscale", "bootstrap" %>
    
    

    <!-- Allows Dropdown Menu to Work!!! -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</head>

<body id="page-top">

    <nav class="navbar navbar-home " role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll logotitle">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                </button>
                <a class="navbar-brand" href="#page-top">
                    <%= image_tag "logoalter.png", size: "75x75", alt: "US1Logo"%> <span class="light">US1</span> Travel
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                
                <ul class="nav navbar-nav links">
                    <li >
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> About </a>
                    </li>

                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Travel <b class = "caret"></b></a>
                        <ul class = "dropdown-menu">
                                <li><a href = "#">Tour Packages</a></li>
                                <li><a href = "#">Cruise Lines</a></li>
                                <li><a href = "#">Rail</a></li>
                                <li><a href = "#">Car Rentals</a></li>
                        </ul>
                        
                    </li>
                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Resources <b class = "caret"></b></a>
                        <ul class = "dropdown-menu">
                                <li><a href = "#">Agents</a></li>
                                <li><a href = "#">Travelers</a></li>
                        </ul>
                        
                    </li>
                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Getthere <b class = "caret"></b></a>
                        <ul class = "dropdown-menu">
                                <li><a href = "#">About GT</a></li>
                                <li><a href = "#">Login</a></li>
                        </ul>
                    </li>
                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Corporate <b class = "caret"></b></a>
                        <ul class = "dropdown-menu">
                                <li><a href = "#">Private Jets</a></li>
                                <li><a href = "#">Online Booking</a></li>
                        </ul>
                    </li>
                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Virtuoso <b class = "caret"></b></a>
                        <ul class = "dropdown-menu">
                                <li><a href = "#">Luxury Specialist Program</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 introduction">
                        <h1 class="brand-heading">US1 Travel</h1>
                        <p class="intro-text">travel travel travel travel travel travel travel travel travel.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
</body>

</html>
