
<h1>Agent Resources</h1>

<div class = "container">
<% @user = current_user %>
  <%= render "/users/menu" %>
  
  <div class="col-lg-10">
    <ul class="users">
      <p>dooby doobop</p>
    </ul>
  </div>

  
</div>