<%= stylesheet_link_tag "format", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<h1>Agent Resources</h1>

<div class = "buttonholder">
	<%= link_to "Agent Portal", new_session_path, class: "btn btn-default btn-lg"%>
</div>

<p>If you ain't got no money take your broke ass home. IF YOU AIN'T GOT NO MONEY TAKE YOUR BROKE BROKE...</p>



