<section class = 'airport'>
<h1>Airport Information</h1>



<div class = "container resources" style = 'padding-top:90px'>
	
	<div class = "col-lg-6" >		
		<div class = 'moneyicon'><%=link_to '', resources_domestic_path , class: "fa fa-flag fa-5x doobop" %></i></div>
		<br>
		<h4>Domestic Airports</h4>		
	</div>
	<div class = "col-lg-6" >
		<div class = 'moneyicon'><%=link_to "", "http://www.weather.com/activities/travel/businesstraveler/", :target => "_blank" , class: "fa fa-globe fa-5x doobop" %></i></div>
		<br>
		<h4>International Airports</h4>		
	</div>
	
</div>

</section>