<%= stylesheet_link_tag "format", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<h1>ResourcePages#travelers</h1>
<p>Find me in app/views/resource_pages/travelers.html.erb</p>
