<h1>About GetThere</h1>



<div class = 'container'>

	<div class="row featurette">
        <div class="col-md-7" >
	    	<div class = 'gt1container'>
				<h2 class="featurette-heading" style = "text-align:left">GetThere <span class="text-muted" style = "text-align:left">Overview</span></h2>
				<div  class = "gt1">
				Designed to empower travel managers and travelers of small and medium sized corporations, GetThere offers an affordable yet sophisticated technology platform to book employee corporate travel online.  Our continually enhanced traveler interface makes booking for business as simple as booking a leisure trip, and as personal – all wrapped around the current offerings of our agency’s services.

				Created by the pioneers of the online booking industry, GetThere is
				also backed by the expertise of Sabre Holdings® corporation and
				Travelocity® consumer online business, world leaders in travel.

			</div>
	 		</div>

        </div>
        <div class="col-md-5" >
        	<div style= 'padding-top:0px'>
          		<%= image_tag "gettherewhite.png",  size:'450x500', alt: "Getthere"%>
      		</div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class = 'row featurette'>
    	<div class="col-md-6">
          <%= image_tag "palacecrop2.jpg",  size:'550x500', alt: "Getthere"%>
        </div>

    	<div class="col-md-6" >
	    	<div class = 'gt2container' style = 'padding-left:10px'>
	    		<h2 class="featurette-heading" style = "text-align:left"><span class="text-muted" style = "text-align:left">Why</span> GetThere?</h2>
	    		<div  class = "gt2">
	         	A majority of the FORTUNE 200 and the BTN Corporate Travel 100 rely on
				GetThere to streamline processes, improve supplier and contract
				management, and achieve ongoing and sustainable savings in corporate
				travel spend.  More than 10 million bookings are made annually by
				corporations using GetThere, and travelers using GetThere in 2007
				surpassed $9.4 billion in travel spend, with approximately $600 million in
				airfare savings.
				<br> <br>
				With more than 3,000 companies and 135 travel agencies around the
				world using the system, GetThere recorded its seventh consecutive year of
				20 percent growth in 2007 while sustaining the industry’s highest online
				adoption rates.  GetThere offers powerful advantages to members of a
				 corporation influenced by travel.

				</div>
	    	</div>
	    	
	    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" >
        <div class="col-md-6" >
	    	<div class = 'gt1container'>
				<h2 class="featurette-heading" style = "text-align:left">Key <span class="text-muted" style = "text-align:left">Benefits</span></h2>
				<div  class = "gt1">


				<strong>- Company Cost Savings </strong>– Fewer agency fees, access to lower fares, and increased use of preferred suppliers and negotiated rates
				<br><br>
				<strong>- Travel Manager Control </strong>– Increased policy compliance, ensuring your travel spend is under control and your travel program is a success
				<br><br>
				<strong>- Traveler Added Value </strong>– A familiar,
				easy, leisure-like online shopping experience combined with "all the extras" including dining, activities and events
				<br><br>
				<strong>- Travel Arranger Flexibility </strong> – The ability to easily book, manage and track multiple traveler itineraries online and in real-time


			</div>
	 		</div>

        </div>
        <div class="col-md-6">
          <%= image_tag "riverboats.jpg",  size:'550x500', alt: "Getthere"%>
        </div>
    </div>
    <hr class="featurette-divider">

</div>
