<%= stylesheet_link_tag "format", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<h1>Login to GetThere</h1>

<div class = "buttonholder">
	<%= link_to "GetThere Portal", getthere_portal_path, class: "btn btn-default btn-lg"%>
</div>

<p>If you are an agent working with US1Travel, access our GetThere booking site through this portal</p>



