

<h1>All users</h1>

<br>
<div class = "container">
  <% @user = current_user%>
  <%= render "menu" %>
  
  <div class="col-lg-10">
    <ul class="users">
      <% @users.each do |user| %>
        <li>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
        | <%= link_to "edit", edit_user_path(user)%>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  
</div>


