<%= stylesheet_link_tag "format", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<p>This is the page for the agent blog</p>

<section>
    <%= render 'shared/micropost_form' %>
</section>