
<h1><%= @user.name %></h1>
<script src="https://dropinchat.com/dic.js"></script>

<br>
<div class = "container">
	<%= render "menu" %>
	<% if current_user == @user %>
	<% else %>
		<% @user.posts.each do |post| %>
	    <li class="posts">
		   <%= link_to post.title, post,  class:"posts" %>
		   <% if @user.admin?%>
       		 | <%= link_to "delete", post, method: :delete,
                                  data: { confirm: "You sure about dat?" }, class:"posts" %>
      		<% end %>
	    </li>
	  <% end %>
	<% end %>
	
</div>


