<%= stylesheet_link_tag "format", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<h1>TravelPages#rail</h1>
<p>Find me in app/views/travel_pages/rail.html.erb</p>
