


<<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <h1>1</h1>	
      <p>US1 Travel can be designated as a “Travel Management Company” licensed by ARC & IATA for more than 25 years. The Company was founded in December of 1987. Once a small Retail Agency serving the local Community, we were known as “The L.A. Connection Travel”. We primarily served small corporate accounts and leisure travelers peaking in 1997 with 2million dollars in Gross sales. In 1989 We launched “Travel Net” a bulletin board online information and media tool running on an AST 386 computer and two Hayes 9600Baud modems. This was several years prior to the internet and offered Tech Savvy consumers a medium to search flight schedules, see fares and search out package vacations. Travel net operated uninterrupted for nearly 4 years with more than 200 users in the Los Angeles area. In 1994 The Company changed direction in soliciting independent contractors to work from Home using dial up modems as a means of connectivity. This represented the first such time an Agent could use the professional reservation system and make bookings directly with a Host Location. For the following three years between 1994 and 1997 more than 30 independent Agents signed agreements to work exclusively with The L.A. Connection. We provided training onsite and through manuals written exclusively for this Affiliate program.</p>

    </div>
    <div class="item">
    <h1>2</h1>	
	  <p>
      In 1999 The L.A. Connection contracted with Sabre Integration to put the Sabre GDS online over the internet. Andy England, working exclusively for Sabre, said our installation was only the second such in the Country. By 1999 we had the first Agents accessing our Office via PC & internet. Now for the first time our Company could work with Agents anywhere in the United States. By 2001 we had nearly 90 Agents working under our license nationwide. Due to our nationwide expansion we changed our name in 2002 to “US1 Travel”. This name was chosen to better represent Agents and Companies from all parts of the Country. The new name afforded us the increased capability to grow and expand. In 2006 we licensed with Sabre to resell their online Corporate Booking engine called “Get There”. This tool would allow us to expand in the corporate marketplace and allow us to be competitive in the market place. In 2008 Robert Wright, our Operations manager since 1994, received Certification to create and manage sites after completing an extensive course in Dallas. As of May 2013, US1 Travel has more than 150 Agents combined with its corporate accounts using Get There, selling nearly 30million annually. We are creating and utilizing mobile apps for the smart phone and showing innovation in all areas of Corporate Travel. In January we joined “The Virtuoso Network” which puts us in the top 1% of all Travel Company’s’. Virtuoso is an invitation only Luxury Consortium that has amenity programs exclusively for its members. In conclusion US1 Travel continues to innovate with a rapidly changing Industry, and can be an Asset to Companies needing solutions that continue to get better and become more cost effective.
  	</p>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>