<%= stylesheet_link_tag "format", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<h1>VirtuosoPages#luxury</h1>
<p>Find me in app/views/virtuoso_pages/luxury.html.erb</p>
