
<h1>Luxury Specialist Program</h1>

<p style = 'text-align:justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis dolor nulla, et mattis tortor scelerisque eget. Cras pulvinar rutrum eros, id sagittis lectus blandit sed. Phasellus justo lacus, ultrices eu velit in, consequat sodales lectus. Aliquam ultricies vulputate leo ac suscipit. Ut mollis non est sed euismod. Nunc semper eu lacus vel fringilla. Phasellus cursus gravida augue ac vulputate. 
</p>

<div id = 'myCarousel' class = 'carousel slide'>
  <ol class = 'carousel-indicators'>
    <li data-target = '#myCarousel' data-slide-to = '0' class = 'active'> </li>
    <li data-target = '#myCarousel' data-slide-to = '1'> </li>
    <li data-target = '#myCarousel' data-slide-to = '2'> </li>
  </ol>

  <div class = 'carousel-inner'>
    <div class = 'item active'>
      <%= image_tag "earth-copycopy1.jpg", class: 'img-responsive'%> 
      <div class = 'carousel-caption'>
        <h2>Dobop</h2>
      </div>
    </div>
    <div class = 'item'>
      <%= image_tag "logoalter.jpg", class: 'img-responsive'%> 
    </div>
    <div class = 'item'>
      <%= image_tag "earth-copycopy1.jpg", class: 'img-responsive'%> 
    </div>
  </div>

  <a class = 'carousel-control left' href = '#myCarousel' data-slide = 'prev'>
    <span class = 'icon-prev'> </span>
  </a>

  <a class = 'carousel-control right' href = '#myCarousel' data-slide = 'next'>
    <span class = 'icon-next'> </span>
  </a>

  append left and right to carousel-control for fade effect

</div>